DATABASE_URL=your_url
JWT_SECRET=your_sec


GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret

FACEBOOK_CLIENT_ID=your-facebook-client-id
FACEBOOK_CLIENT_SECRET=your-facebook-client-secret

GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-github-client-secret

TWITTER_CLIENT_ID=your-twitter-client-id
TWITTER_CLIENT_SECRET=your-twitter-client-secret

CALLBACK_URL=http://localhost:3000    //  actual home page url to direct after login

PINECONE_API_KEY=your-pinecone-api-key

PINECONE_INDEX_NAME=your-pinecone-index-name

AGENT_URL=your-agent-url

MONGODB_URI=your-mongodb-uri
